header{
    padding: 30px 80px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
     
}
nav li a{
    text-decoration: none;
    padding-right: 40px;
    
}
nav li{

    list-style: none;
}